body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator-div {
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

#display-div {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: 20%;
    margin-bottom: 15px;
    border: 1px solid black;
}

#output-div {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
}

#keypad-div {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.button-div {
    margin: 5px;
}

button {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    font-family: 'Orbitron', sans-serif;
}

@keyframes rotation-0 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

  @keyframes rotation-180 {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }