body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:steelblue;
}

#calculator-div {
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    margin: 15px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(31, 30, 30);
    box-shadow: 5px 5px 10px rgb(43, 43, 43);
}

#display-div {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: 20%;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(163, 184, 204);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.712);
}

#output-div {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
}

#keypad-div {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.button-div {
    margin: 5px;
}

button {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: 'Orbitron', sans-serif;
    border-radius: 10px;
    border: 1px solid black;
}

.number {
  background-color: grey;
  color: whitesmoke;
}

.number:active {
  background-color: darkgrey;
}

.symbol {
  background-color: lightgrey;
}

.symbol:active {
  background-color: whitesmoke;
}

.operator {
  background-color: orange;
  color: whitesmoke;
}

.operator:active {
  background-color: whitesmoke;
  color: orange;
}

.operator-active {
  background-color: whitesmoke;
  color: orange;
}

@keyframes rotation-0 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

  @keyframes rotation-180 {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }